ion-tab-bar{
    --background: rgb(150, 150, 150);
    
}

ion-tab-button {
    --background-selected: rgb(94, 94, 94);
    --color-selected: rgb(94, 94, 94);
    // --background: rgb(94, 94, 94)
}

ion-icon {
    color: rgb(94, 94, 94);
}

