.link-login {
    text-align: center;
    font-size: 10px;
    color: chocolate;
    display: block;
}


.input-content {
    display: block;
}
.password:empty::before {
    content: "请设置密码(最少6位)"
}
.password:focus::before {
    content: none;
}

ion-grid {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

ion-toolbar {
    --background: #31415a;
}
ion-back-button {
    --color: #d6e1e6;
}

ion-title {
    --color: #d6e1e6;
}