<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <!-- <ion-item margin-bottom >
  <ion-label position="stacked">手机号</ion-label>
  <ion-input type="tel" clearInput=true required size=11></ion-input>
</ion-item> -->
  <ion-item margin-bottom lines="none">
    <ion-icon name="mail"></ion-icon>  
    <ion-input type="email" clearInput=true required size=11 formControlName="email" placeholder="手机号码/邮箱" autofocus></ion-input>
  </ion-item>
  <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger">
    <div *ngIf="email.errors.uniq">
      <ion-text class="errors">{{email.errors.uniq}}</ion-text>
    </div>
    <div *ngIf="email.errors.email">
      <ion-text class="errors" color="dangre">请输入有效的邮箱</ion-text>
    </div>
  </div>
  <ion-item margin-bottom lines="none">
    <ion-icon name="lock"></ion-icon>
    <ion-input type="password" clearInput=true required formControlName="password" class="password" placeholder="输入密码" ></ion-input>
  </ion-item>
  <ion-item margin-bottom *ngIf="isDisplayVerify" lines="none">
      <ion-input clearInput=true type="number" required=true formControlName="securityCode" class="" placeholder="请输入验证码" >
      </ion-input>
      <ion-button class="btn-getCode" (click)="getSecurityCode()">获取验证码</ion-button>
  </ion-item>
  <ion-button expand="block" type="submit" [disabled]="!form.valid" class="submit">{{actionName}}</ion-button>
</form>